body {
    background-color: cornflowerblue;
    font-style: italic;
    text-align: center;
    color: black;
  }
table,th,td{
    border: 5px double black;
    border-color: black;
    border-spacing: 2em;
    margin: 0 auto;
    border-color: darkslategrey;
}
  
  